body{

background:#eef2f7;

font-family:Arial, Helvetica, sans-serif;

}

.container{

max-width:900px;

}

.card{

border-radius:15px;

}

.card-header{

font-size:28px;

font-weight:bold;

}

label{

font-weight:bold;

margin-top:8px;

}

input{

margin-bottom:15px;

}

select{

margin-bottom:15px;

}

button{

font-size:18px;

padding:12px;

}

h1{

color:#198754;

font-weight:bold;

}

a{

font-size:18px;

}